<div class="title-bar">
  <div class="title-bar-left">
    <span class="title-bar-title">
      <img alt="Logo">
    </span>
  </div>
  <div class="title-bar-right">
    <button class="menu-icon" type="button" data-toggle="offCanvasRight" aria-expanded="false" aria-controls="offCanvasRight"></button>
  </div>
</div>