


<div class="off-canvas position-right" id="offCanvasRight" data-off-canvas="18cjt9-off-canvas" data-position="right" aria-hidden="ture">
  <button class="close-button" aria-label="Close menu" type="button" data-close="">
    <span aria-hidden="true">×</span>
  </button>
  <ul class="vertical menu">
    {{#link-to 'index' tagName="li"}}<a href="">Home</a>{{/link-to}}
    {{#link-to 'register' tagName="li"}}<a href="">Register</a>{{/link-to}}
  </ul>
</div>